<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Marionette Behaviors</title>

		<script type="text/javascript" src="lib/jquery.js"></script>
		<script type="text/javascript" src="lib/underscore.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="lib/marionette.js"></script>
		<script type="text/javascript" src="lib/backbone-localstorage.js"></script>

		<link href="css/style.css" rel="stylesheet"/>
	</head>
	<body>
    <div class="shopping-list">
			<h1>Add Item to Buy</h1>
			<div id="new-toBuy-container"></div>
			<h2>Shopping List</h2>
			<div id="toBuy-list-container"></div>
		</div>

		<script type="text/javascript" src="src/app.js"></script>

		<script type="text/template" id="new-toBuy-template">
			<div class="input-group">
				<label for="name">Item Name: </label>
				<input type="text" class="app-toBuy-field" name="name">
			</div>

      <div class="input-group">
				<label for="quantity">Quantity: </label>
				<input type="text" class="app-toBuy-field" name="quantity" value="<%= quantity %>">
			</div>

      <div class="input-group">
				<label for="unitPrice">Unit Price: </label>
				<input type="text" class="app-toBuy-field" name="unitPrice" value="<%= unitPrice %>">
			</div>

      <div class="input-group">
		    <button type="button" class="app-save-new-toBuy">Add Item</button>
		  </div
		</script>
		<script type="text/template" id="toBuy-template">
      <div class="input-group">
				<input type="text" size="<%= name.length %>" class="app-toBuy-field toggle-input" name="name" value="<%= name %>">
			</div>

      <div class="input-group">
				<input type="text" size="<%= quantity.length %>" class="app-toBuy-field toggle-input" name="quantity" value="<%= quantity %>">
				@
				<input type="text" size="<%= unitPrice.length %>" class="app-toBuy-field toggle-input" name="unitPrice" value="<%= unitPrice %>">
			</div>

      <div class="input-group">
		 <span class="total-cost"><strong>Total Cost: $<%= unitPrice * quantity %></strong></span>
			</div>
		</script>
	</body>
</html>
