<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Jasmine Spec Runner v2.0.0</title>

		<link rel="shortcut icon" type="image/png" href="lib/jasmine-2.0.0/jasmine_favicon.png">
		<link rel="stylesheet" type="text/css" href="lib/jasmine-2.0.0/jasmine.css">

		<script type="text/javascript" src="lib/jasmine-2.0.0/jasmine.js"></script>
		<script type="text/javascript" src="lib/jasmine-2.0.0/jasmine-html.js"></script>
		<script type="text/javascript" src="lib/jasmine-2.0.0/boot.js"></script>
		<script type="text/javascript" src="lib/jquery.js"></script>
		<script type="text/javascript" src="lib/underscore.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="lib/marionette.js"></script>
		<script type="text/javascript" src="lib/backbone-localstorage.js"></script>

		<!-- include source files here... -->
		<script type="text/javascript" src="src/app.js"></script>

		<!-- include spec files here... -->
		<script type="text/javascript" src="spec/SpecHelper.js"></script>
		<script type="text/javascript" src="spec/Specs.js"></script>

	</head>
	<body>
<!--		<div class="view-containers" style="display:none">-->
			<div id="new-toBuy-container"></div>
			<div id="toBuy-list-container"></div>
<!--		</div>-->
		
		<!-- templates -->
		<script type="text/template" id="new-toBuy-template">
			<div class="input-group">
				<label for="name">Item Name: </label>
				<input type="text" class="app-toBuy-field" name="name">
			</div>

      <div class="input-group">
				<label for="quantity">Quantity: </label>
				<input type="text" class="app-toBuy-field" name="quantity" value="<%= quantity %>">
			</div>

      <div class="input-group">
				<label for="unitPrice">Unit Price: </label>
				<input type="text" class="app-toBuy-field" name="unitPrice" value="<%= unitPrice %>">
			</div>

      <div class="input-group">
		    <button type="button" class="app-save-new-toBuy">Add Item</button>
		  </div
		</script>
		<script type="text/template" id="toBuy-template">
      <div class="input-group">
				<input type="text" size="<%= name.length %>" class="app-toBuy-field toggle-input" name="name" value="<%= name %>">
			</div>

      <div class="input-group">
				<input type="text" size="<%= quantity.length %>" class="app-toBuy-field toggle-input" name="quantity" value="<%= quantity %>">
				@
				<input type="text" size="<%= unitPrice.length %>" class="app-toBuy-field toggle-input" name="unitPrice" value="<%= unitPrice %>">
			</div>

      <div class="input-group">
		 <span class="total-cost"><strong>Total Cost: $<%= unitPrice * quantity %></strong></span>
			</div>
		</script>
	</body>
</html>
